@media (max-width: 1400px) {
    .account-input {
        width: 300px;
    }
    .wrapper {
        width: 1100px;
    }
}

@media (max-width: 1200px) {
    .wrapper {
        width: 800px;
    }
    .account {
        width: 100%;
        display: block;
        &-close-btn {
            display: flex;
        }
    }
    .account.remove {
        display: none;
    }
    .account-input {
        width: 700px;
    }
    .every-thing-close-btn {
        display: block !important;
    }
    .chats {
        display: none;
        width: 100%;
    }
    .chats.active {
        display: flex;
    }
    .account-settings_wrapper {
        left: 200px !important;
    }
    .account-settings-edit-modal-wrapper {
        left: 400px !important;
    }

    .chats .every-thing-close-btn {
        top: -50px;
    }

    .chats .chat-text {
        padding-left: 50px;
    }

    .chats .chat-subtext {
        padding-left: 50px;
    }
    .chats-user-modal-wrapper {
        left: 50% !important;
    }
    .chats-user-modal-second-wrapper {
        left: 50% !important;
    }
    .chats-user-modal-third-wrapper {
        left: 50% !important;
    }
    .back-to-account-section svg {
        display: block !important;
    }
}

@media (max-width: 1000px) {
    .wrapper {
        width: 700px;
    }
    .account-input {
        width: 600px;
    }
    .account-settings_wrapper {
        left: 150px !important;
    }
    .account-settings-edit-modal-wrapper {
        left: 350px !important;
    }
}

@media (max-width: 770px) {
    .wrapper {
        width: 500px;
    }
    .account-input {
        width: 400px;
    }
    .account-settings_wrapper {
        left: 50px !important;
    }
    .account-settings-edit-modal-wrapper {
        left: 250px !important;
    }
    .settings-owner-modal-img {
        width: 300px;
        height: 300px;
    }
    .danny-account-image-modal-img {
        width: 300px !important;
        height: 300px !important;
    }
    .sara-account-image-modal-img {
        width: 300px !important;
        height: 300px !important;
    }
    .mark-account-image-modal-img {
        width: 300px !important;
        height: 300px !important;
    }
    .user-phone-call-modal {
        width: 370px;
    }
    .user-phone-call-modal-second {
        width: 370px;
    }
    .user-phone-call-modal-third {
        width: 370px;
    }
}

@media (max-width: 540px) {
    .wrapper {
        width: 400px;
    }
    .account-input {
        width: 300px;
    }
    .account-settings_wrapper {
        width: 300px !important;
        left: 50px !important;
    }
    .account-settings-edit-modal-wrapper {
        width: 300px !important;
        left: 200px !important;
    }
    .chats-user-modal-wrapper {
        width: 300px;
    }
    .chats-user-modal-second-wrapper {
        width: 300px;
    }
    .chats-user-modal-third-wrapper {
        width: 300px;
    }
}

@media (max-width: 440px) {
    .wrapper {
        width: 300px;
    }
    .account-input {
        width: 200px;
    }
    .account-settings_wrapper {
        width: 100% !important;
        left: 0px !important;
    }
    .account-settings-edit-modal-wrapper {
        width: 100% !important;
        left: 150px !important;
    }
    .settings-owner-modal-img {
        width: 200px;
        height: 200px;
    }
    .chats-user-modal-wrapper {
        width: 100%;
    }
    .chats-user-modal-second-wrapper {
        width: 100%;
    }
    .chats-user-modal-third-wrapper {
        width: 100%;
    }
}